html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--ff-texts);
    width: 100%;
}


header{
    background-color: var(--primary-red);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 15px 0;
}

header .logo{
height: 80px;
width: 80px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-purple);
}

.title{
    color: var(--primary-soft);
    margin: 20px 0 10px 0;
}

.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.nome-link{
    color: var(--primary-purple);
    font-size: 22px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.nome-link:hover{
    color: var(--primary-orange);
}

.text{
    color: var(--primary-blue);
    line-height: 25px;
}

section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cards-facilitadoras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cards .card{
    background-color: var(--primary-soft);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    width: 500px;
    border-radius: 15px;
    gap: 10px;
}

.cards-facilitadoras .card{
    background-color: var(--primary-soft);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    width: 500px;
    border-radius: 15px;
    margin-bottom: 20px;
    gap: 10px;
}

.cards .card .thay{
    background: url(../imagens/thayane-belchior.jpg) no-repeat center;
    background-size: cover;
}

.cards .card .dani{
    background: url(../imagens/dani-bezerra.jpg) no-repeat center;
    background-size: cover;
}

.cards-facilitadoras .card .vivian-carla{
    background: url(../imagens/fotos-facilitadoras/Vivian\ Carla.jpeg) no-repeat center;
    background-size: cover;
}

.cards-facilitadoras .card .ana-amorim{
    background: url(../imagens/fotos-facilitadoras/Ana\ Amorin.jpg) no-repeat center;
    background-size: cover;
}

.cards-facilitadoras .card .mayara-costa{
    background: url(../imagens/fotos-facilitadoras/MAYARA\ COSTA.jpg) no-repeat center;
    background-size: cover;
}

.cards-facilitadoras .card .camila-fonseca{
    background: url(../imagens/fotos-facilitadoras/Camila\ fonseca.jpg) no-repeat center;
    background-size: cover;
}

.cards-facilitadoras .card .camila-pessoa{
    background: url(../imagens/fotos-facilitadoras/CAMILA\ PESSOA.jpg) no-repeat center;
    background-size: cover;
}

.cards-facilitadoras .card .camilla-godoy{
    background: url(../imagens/fotos-facilitadoras/Camila\ Godoy.JPG) no-repeat center;
    background-size: cover;
}

.cards-facilitadoras .card .geane-amaral{
    background: url(../imagens/fotos-facilitadoras/Geane\ Amaral.jpeg) no-repeat center;
    background-size: cover;
}

.cards-facilitadoras .card .fernanda-sergio{
    background: url(../imagens/fotos-facilitadoras/Fernanda\ Sérgio.jpeg) no-repeat center;
    background-size: cover;
}

footer {
    background-color: var(--primary-red);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 10px 60px;
}

.social .social-icons{
    display: flex;
}

.social .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-soft);
    border: var(--primary-soft) solid 1px;
    border-radius: 50%;
    padding: 7px;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    transition: 0.3s ease-in-out;
}

.social .social-link:hover {
    color: var(--primary-orange);
    border: var(--primary-orange) solid 1px;
}

.social .parceria-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-soft);
}

.parceria .parceria-link{
    display: flex;
    margin-top: 15px;
}

.social .parceria .parceria-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-soft);
    width: 110px;
    height: 50px;
    margin-left: 15px;
    transition: 0.3s ease-in-out;
}

.credits {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: var(--primary-soft);
}

.credits a {
    color: var(--primary-orange);
}

.credits a:hover {
    color: var(--primary-soft);
}

/* responsive */

@media(max-width: 1060px){

    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 640px){

    .cards .card{
        padding: 10px 20px;
        width: 350px;
    }
    
    .cards-facilitadoras .card{
        padding: 10px 20px;
        width: 350px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
    
    .social {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        padding: 20px 20px;
        gap: 20px;
    }
    
    .social .social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 7px;
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }

    .social .parceria{
        display: flex;
        align-items: center;
    }
    
    .social .parceria-text{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .parceria .parceria-link{
        margin-top: 0px;
    }
    
    .social .parceria .parceria-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 45px;
        margin-left: 10px;
    }
    
    .credits {
        font-size: 14px;
    }
}

@media(max-width: 375px){
    
    .cards-facilitadoras{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    
    .cards .card{
        padding: 20px 30px;
        width: 100%;
        border-radius: 0;
    }
    
    .cards-facilitadoras .card{
        width: 100%;
        border-radius: 0;
    }
}