html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--ff-texts);
    width: 100%;
}

header {
    position: fixed;
    background-color: var(--primary-red);
    color: var(--primary-soft);
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: 1000;
    padding: 15px 0;
}

header img {
    height: 80px;
    width: 80px;
}

.header ul {
    display: flex;
}

.header li {
    margin: 0 30px;
}

.header a {
    text-decoration: none;
    color: var(--primary-soft);
    transition: 0.3s ease-in-out;
}

.header a:hover {
    background-color: var(--primary-blue);
    padding: 10px 20px;
    border-radius: 25px;
}

.intro {
    background: url(../imagens/Capa\ Site.png) no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro .intro-text {
    margin-top: 200px;
    margin-left: 100px;
    width: 650px;
    background-color: var(--background-soft);
    padding: 40px 20px;
    border-radius: 30px;
}

.intro .intro-text .qs-title-1 {
    color: var(--primary-orange);
    margin-bottom: 12px;
}

.intro .intro-text .qs-title-2 {
    color: var(--primary-orange);
    margin-bottom: 45px;
}

.intro .intro-text .qs-title-2 span {
    color: var(--primary-blue);
}

.intro .intro-text .qs-saiba-mais {
    background-color: var(--primary-orange);
    color: var(--primary-soft);
    padding: 8px 60px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.intro .intro-text .qs-saiba-mais:hover {
    background-color: var(--primary-purple);
    color: var(--primary-orange);
}

.quem-somos-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: var(--primary-orange);
    padding: 40px 60px;
    gap: 40px;
}

.quem-somos-sec .quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary-soft);
    width: 100%;
    line-height: 30px;
}

.quem-somos-sec .quem-somos .quem-somos-title {
    margin-bottom: 10px;
}

.quem-somos-sec .nossos-valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-soft);
    width: 100%;
    line-height: 30px;
    gap: 10px;
}

.quem-somos-sec .nossos-valores .nossos-valores-title {
    margin-bottom: 10px;
}

.quem-somos-sec .compromissos-onu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    gap: 18px;
}

.quem-somos-sec .compromissos-onu .ods {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0);
    width: 300px;
    height: 300px;
    border-radius: 25px;
    padding: 60px 25px;
    transition: 0.2s ease-in-out;
}

.quem-somos-sec .compromissos-onu .ods .ods-title {
    margin-bottom: 20px;
}

.quem-somos-sec .compromissos-onu .ods-4 {
    background: url(../imagens/educacao-de-qualidade.svg) no-repeat center;
}

.quem-somos-sec .compromissos-onu .ods-5 {
    background: url(../imagens/igualdade-de-genero.svg) no-repeat center;
}

.quem-somos-sec .compromissos-onu .ods-8 {
    background: url(../imagens/trabalho-e-crescimento.svg) no-repeat center;
}

.quem-somos-sec .compromissos-onu .ods:hover {
    background: var(--primary-purple);
    color: var(--primary-soft);
}

.impacto-social {
    background-color: var(--primary-orange);
    color: var(--primary-soft);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.impacto-social .indicadores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-soft);
    width: 100%;
    height: 100%;
    padding: 20px;
}

.impacto-social .indicadores .indicadores-title {
    margin-bottom: 30px;
    color: var(--primary-blue);
}

.impacto-social .indicadores .indicadores-numeros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
}

.impacto-social .indicadores .numeros {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--primary-purple);
    color: var(--primary-soft);
    width: 200px;
    height: 200px;
    border-radius: 18px;
    padding: 30px 10px;
}

.impacto-social .indicadores h2 {
    margin-bottom: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-orange);
    width: 100%;
    height: 100%;
    padding: 40px;
}

.links .links-title {
    color: var(--primary-soft);
    margin-bottom: 30px;
}

.links .links-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.links a {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--primary-soft);
    color: var(--primary-orange);
    width: 420px;
    height: 250px;
    border-radius: 15px;
    padding: 30px;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.links a:hover {
    background-color: var(--primary-blue);
    color: var(--primary-soft);
}

.links a h3 {
    margin-bottom: 8px;
}

.links a h2 {
    margin-bottom: 30px;
}

.programas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-purple);
    width: 100%;
    height: 100%;
    padding: 20px;
    gap: 30px;
}

.programas .programas-title {
    color: var(--primary-soft);
    margin-bottom: 10px;
}

.programas .programas-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.programas .programas-links .acelera {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--primary-soft);
    color: var(--primary-orange);
    width: 400px;
    height: 250px;
    border-radius: 15px;
    padding: 30px;
}

.programas .programas-links .acelera h3 {
    margin-bottom: 8px;
}

.programas .programas-links .acelera h2 {
    margin-bottom: 20px;
}

.programas .link-agenda {
    background-color: var(--primary-orange);
    color: var(--primary-soft);
    padding: 12px 70px;
    border-radius: 10px;
    margin-top: 50px;
    transition: 0.3s ease-in-out;
}

.programas .link-agenda:hover {
    background-color: var(--primary-soft);
    color: var(--primary-orange);
}

.founders {
    background: url(../imagens/DSC_0413.JPG) no-repeat;
    background-size: cover;
    height: 600px;
    padding: 80px 60px;
}

.founders .founders-text {
    display: flex;
    flex-direction: column;
    width: 450px;
    color: var(--primary-blue);
}

.founders .founders-text .time {
    font-size: 22px;
    margin-bottom: 15px;
}

.founders .founders-text .time-title {
    color: var(--primary-orange);
    font-size: 32px;
    margin-bottom: 40px;
}

.founders .founders-text .time-text {
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
    background-color: var(--background-soft);
    padding: 5px 20px;
    border-radius: 15px;
}

.founders .founders-text .faca-parte {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-orange);
    color: var(--primary-soft);
    padding: 10px 30px;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

.founders .founders-text .faca-parte:hover {
    background-color: var(--primary-purple);
    color: var(--primary-orange);
}

.borboletario {
    background-color: var(--primary-orange);
    height: 100%;
    padding: 60px;
    color: var(--primary-soft);
}

.borboletario .borboletario-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 20px;
}

.borboletario .borboletario-description .borboletario-title {
    margin-bottom: 40px;
}

.borboletario .borboletario-description .borboletario-text {
    font-size: 16px;
    line-height: 25px;
}

.borboletario .ecossistema {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-orange);
    height: 100%;
    gap: 18px;
    padding: 20px 0;
}

.ecossistema .ecossistema-title {
    color: var(--primary-soft);
}

.borboletario .ecossistema .borboletario-list {
    padding: 40px
}

.borboletario .ecossistema .borboletario-list ul {
    color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    background-color: var(--background-soft);
    color: var(--primary-blue);
    padding: 20px 40px;
    border-radius: 15px;
    gap: 30px;
}

.borboletario .ecossistema .borboletario-list ul li {
    line-height: 20px;
}

.borboletario .ecossistema .borboletario-list ul li span {
    font-weight: 600;
}

.borboletario .ecossistema .grupos-title{
    margin-bottom: 40px;
}

.borboletario .ecossistema .ecossistema-grupos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.borboletario .ecossistema .ecossistema-grupos .borboleta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--background-soft);
    color: rgba(255, 255, 255, 0);
    width: 350px;
    height: 250px;
    border-radius: 25px;
    padding: 60px 25px;
    transition: 0.2s ease-in-out;
}

.ecossistema .ecossistema-grupos .borboleta .borboleta-text {
    font-size: 22px;
    margin-bottom: 20px;
}

.ecossistema .ecossistema-grupos .crisalidas {
    background: url(../imagens/borboletario/Logo-communidade-02.png) no-repeat center;
    background-size: contain;
}

.ecossistema .ecossistema-grupos .imagos {
    background: url(../imagens/borboletario/Logo-communidade-03.png) no-repeat center;
    background-size: contain;
}

.ecossistema .ecossistema-grupos .polis {
    background: url(../imagens/borboletario/Logo-communidade-04.png) no-repeat center;
    background-size: contain;
}

.ecossistema .ecossistema-grupos .flambeau {
    background: url(../imagens/borboletario/Logo-communidade-05.png) no-repeat center;
    background-size: contain;
}

.ecossistema .ecossistema-grupos .bes {
    background: url(../imagens/borboletario/Logo-communidade-01.png)no-repeat center;
    background-size: contain;
}

.ecossistema .ecossistema-grupos .borboleta:hover {
    background: var(--primary-blue);
    color: var(--primary-soft);
}

.nossa-trajetoria{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--primary-purple);
    padding: 40px 0;
}

.nossa-trajetoria .trajetoria-title{
    color: var(--primary-soft);
}

.nossa-trajetoria .trajetoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.nossa-trajetoria .trajetoria .logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.nossa-trajetoria .trajetoria .logos .logo{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    background-color: var(--background-soft);
}

.avaliacao {
    background-color: var(--primary-purple);
    display: flex;
    height: 100%;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.avaliacao .comment {
    background-color: var(--primary-soft);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 40px;
}

.avaliacao .comment .img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.avaliacao .comment .comment-1 {
    background: url(../imagens/comm1.webp) no-repeat center;
    background-size: cover;
}

.avaliacao .comment .comment-2 {
    background: url(../imagens/comm2.webp) no-repeat center;
    background-size: cover;
}

.avaliacao .comment .comment-text {
    color: var(--primary-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-size: 22px;
    line-height: 35px;
}

.avaliacao .comment .comment-text h3 {
    margin-top: 30px;
}

footer {
    background-color: var(--primary-red);
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 10px 60px;
}

.social .social-icons{
    display: flex;
}

.social .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-soft);
    border: var(--primary-soft) solid 1px;
    border-radius: 50%;
    padding: 7px;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    transition: 0.3s ease-in-out;
}

.social .social-link:hover {
    color: var(--primary-orange);
    border: var(--primary-orange) solid 1px;
}

.social .parceria-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-soft);
}

.parceria .parceria-link{
    display: flex;
    margin-top: 15px;
}

.social .parceria .parceria-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-soft);
    width: 110px;
    height: 50px;
    margin-left: 15px;
    transition: 0.3s ease-in-out;
}

.credits {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: var(--primary-soft);
}

.credits a {
    color: var(--primary-orange);
}

.credits a:hover {
    color: var(--primary-soft);
}